@import "../variables";

.callToAction {
  display: flex;
  align-items: center;
}

.callToAction__button {
  border-radius: 2px;
  border: none;
  border-top: solid 1px $theme-color__blue8;
  padding: $padding--sm $padding--md;
  background-color: $theme-color__blue6;
  color: $theme-color__white;
  font-size: $font-size--md;

  &:hover {
    background-color: $theme-color__blue7;
    text-decoration: underline;
  }

  &:active {
    background-color: $theme-color__blue6;
  }
}

.callToAction__menu {
  position: absolute;
  background-color: $theme-color__blue7;
  width: 100%;
}

.callToAction__menuItem {
  padding: $padding--md;
  color: $theme-color__white;
}

.ddWrapper {
  position: relative;
  width: 150px;
  margin-right: $margin--sm;
  transition-duration: 0.3s;
}