@import "../variables";

.callToAction {

}

.callToAction__button {
  margin-right: $margin--sm;
  border-radius: 2px;
  border: none;
  border-top: solid 1px $theme-color__blue8;
  padding: $padding--sm $padding--md;
  background-color: $theme-color__blue6;
  color: $theme-color__white;
  font-size: $font-size--md;
  transition-duration: 0.3s;

  &:hover {
    background-color: $theme-color__blue7;
    text-decoration: underline;
  }
}