@import "../variables";
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome";

.header__row1 {
  display: flex;
  padding: $padding--md 0;
  background-color: $theme-color__blue5;
}

.header__row2 {
  display: flex;
  align-items: center;
  background-color: $theme-color__white;
}

.logo {
  margin-left: $padding--lg;
  margin-right: auto;
  height: 80px;
}

.roleNav {
  margin: $margin--md $margin--md;
  border-left: 1px solid $gray5;
  padding-left: $padding--sm;
}

.roleNav__item {
  margin: $margin--sm;

  a {
    color: $theme-color__green;
    font-family: $font-style--sanserif;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: $theme-color__green;
}

.navBar__item {
  flex: 1 1 auto;
  text-align: center;
  padding: $padding--md $padding--sm;

  &:hover {
    background-color: $theme-color__gold;
  }

  a {
    color: $theme-color__white;
    font-size: $font-size--sm;
    font-family: $font-style--sanserif;
    text-decoration: none;
  }
}

.callToAction {
  display: flex;
  align-items: center;
  padding: $padding--sm 0;
}

.callToActionWidget {
  margin-right: $margin--sm;
  border-radius: 2px;
  border: none;
  border-top: solid 1px $theme-color__blue8;
  padding: $padding--sm $padding--md;
  background-color: $theme-color__blue6;
  color: $theme-color__white;
  font-family: $font-style--sanserif;
  font-size: $font-size--sm;

  &:hover {
    background-color: $theme-color__blue7;
  }

  &:active {
    background-color: $theme-color__blue6;
  }
}

.quickNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
}

.quickNav__link {
  margin-right: $margin--sm;
  padding: $padding--sm 0;
  font-size: $font-size--sm;
  font-family: $font-style--sanserif;
  color: $theme-color__white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.search {
  display: flex;
  align-items: center;
}

.search__input {
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  font-size: $font-size--sm;
  font-family: $font-style--sanserif;
  text-indent: 20px;
}

.search__button {
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  background-color: $theme-color__green;
  color: $theme-color__white;
  font-family: FontAwesome, serif;
  font-size: $font-size--md;
  border-width: 1px;
}

.search__icon {
  font-size: $font-size--sm;
  @extend .fa;
  @extend .fa-search;

}

@media only screen and (max-width: 1000px) {
  .search__input {
    display: none;
  }
}

.red {
  border: 1px solid red;
}

