@import "../variables";

.navQuick {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
}

.navQuick__link {
  margin-right: $margin--sm;
  padding: $padding--sm 0;
  font-size: $font-size--sm;
  font-family: $font-style--sanserif;
  color: $theme-color__white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}