@import "../variables";

.baseComponent{
  z-index: 1000;

  &:hover .baseMenu {
    opacity: 1;
    visibility: visible;
  }
}

.baseHeading {
}

.baseMenu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
}

.baseItem {
}

.baseLink {
}