$theme-color__blue8: #52ABE4;
$theme-color__blue7: #2E83C1;
$theme-color__blue6: #0464B0;
$theme-color__blue5: #015193;
$theme-color__blue4: #092544;
$theme-color__green: #095a53;
$theme-color__white: #FFFFFF;
$theme-color__black: #000000;
$theme-color__gold: #BF9803;

$gray1: #121212;
$gray2: #474747;
$gray3: #828282;
$gray4: #ababab;
$gray5: #dbdbdb;

$margin--sm: 10px;
$margin--md: 20px;
$margin--lg: 30px;
$margin--xl: 40px;

$padding--sm: 5px;
$padding--md: 20px;
$padding--lg: 30px;
$padding--xl: 40px;

$font-size--sm: 15px;
$font-size--md: 20px;
$font-size--lg: 25px;
$font-size--xl: 30px;

$font-style--sanserif: sans-serif;
$font-style--serif: serif;