@import "./variables";

.page {
  background-color: $theme-color__blue5;
}

.page__content {
  width: 67%;
  margin: 0 auto;
  background-color: $theme-color__white;
}

@media only screen and (max-width: 1400px){
  .page__content {
    width: 100%;
    margin: 0 auto;
    background-color: $theme-color__white;
  }

}

.hero {
  width: 100%;
  padding: $padding--sm;
}

%hero__item {
  height: 400px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__item_1 {
  @extend %hero__item;
  background-position: left top;
  background-image: url("./images/roman-pohorecki-k7XWLQN-f9g-unsplash_withTextOverlay.png");
}

.hero__item_2 {
  @extend %hero__item;
  background-position: left top;
  background-image: url("./images/ray-hennessy-gdTxVSAE5sk-unsplash_withTextOverlay.png");
}

.hero__item_3 {
  @extend %hero__item;
  background-position: left center;
  background-image: url("./images/adi-goldstein-Hli3R6LKibo-unsplash_withTextOverlay.png");
}

.hero__caption {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  position: absolute;
  padding: $padding--md;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  color: $theme-color__white;
}

.hero__captionText {
  padding: 0 $padding--md;
  font-size: $font-size--lg;
  font-family: $font-style--serif;
  text-align: center;
}

.hero__captionText_emphasis {
  @extend .hero__captionText;
  border-left: 1px solid $theme-color__gold;
  font-family: $font-style--sanserif;
  color: $theme-color__gold;

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
  }
}

.main {
  display: flex;
}

.main__col1 {
  flex: 0 0 auto;
  padding: $padding--sm 0;
  background-color: $gray6;
}

.main__col2 {
  flex: 1 1 auto;
}

.explore {
}

.explore__heading {
  padding: $padding1 $padding4;
  font-size: $font-size--md;
}

.explore__item {
  border-top: 2px solid $theme-color__white;
  padding: $padding2 $padding4;
  background-color: $gray5;
  color: $theme-color__blue6;
  font-family: $font-style--sanserif;
  font-size: $font-size--sm;

  &:last-child {
    border-bottom: 2px solid $theme-color__white;
  }

  &:hover {
    background-color: $gray6;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.spotlight {
  display: flex;
  margin: $margin2;
  background-color: $gray6;
}

.spotlight__col2 {
  padding: $padding1 $padding3;
}

.spotlight__image {
  display: block;
  height: 200px;
  border: 10px solid $theme-color__blue6;
}

.spotlight__title {
  font-size: $font-size--md;
  color: $gray2;
}

.spotlight__heading {
  margin: $margin4 0;
  color: $theme-color__blue5;
  font-size: $font-size--md;
}

.spotlight__button {
  margin-top: $margin2;
  border: none;
  border-top: 1px solid $theme-color__blue8;
  border-bottom: 1px solid $theme-color__blue5;
  padding: $padding2 $padding4;
  background-color: $theme-color__blue6;
  color: $theme-color__white;

  &:hover {
    background-color: $theme-color__blue6;
  }
}

.spotlight__text {
  font-size: $font-size--sm;
  font-family: $font-style--sanserif;
  color: $gray2;
  line-height: $font-size--sm*1.5;
}

.opportunity {
}

.opportunity__title {
  margin: $margin4 $margin2 $margin2;
  font-size: $font-size--md;
  color: $gray2;
}

.opportunity__list {
  width: 90%;
  margin: $margin1;
  display: flex;
  flex-wrap: wrap;
}

.opportunity__item {
  width: 200px;
  margin: $margin1 $margin2 $margin1 $margin1;
  display: flex;
  flex-direction: column;
}

.opportunity__image {
  width: 100%;
}

.opportunity__heading {
  margin-top: $margin1;
  color: $theme-color__blue6;
  font-family: $font-style--sanserif;
  font-size: $font-size--md;
}

.opportunity__text {
  margin-top: $margin1;
  color: $gray3;
  font-family: $font-style--sanserif;
  font-size: $font-size--sm;
  flex: 1 1 auto;
}

.opportunity__button {
  width: 100%;
  margin-top: $margin1;
  border: none;
  border-top: 1px solid $theme-color__blue8;
  border-bottom: 1px solid $theme-color__blue5;
  padding: $padding2 $padding4;
  background-color: $theme-color__blue6;
  color: $theme-color__white;

  &:hover {
    background-color: $theme-color__blue7;
  }

  &:active {
    background-color: $theme-color__blue8;
  }
}

.events {
  width: 95%;
  margin: $margin1;
}

.events__header {
  display: flex;
  align-items: baseline;
}

.events__title {
  font-size: $font-size--md;
  color: $gray2;
  margin: $margin4 $margin2 $margin2;
}

.events__link {
  color: $theme-color__blue6;
  font-size: $font-size--sm;
  text-decoration: none;
}

.events__list {
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.events__item {
  width: 50%;
  margin: $margin2 $margin1;
}

.events__itemTitle {
  color: $theme-color__blue6;
  font-size: $font-size--md;

  &:hover {
    text-decoration: underline;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.events__itemText {
  font-size: $font-size--sm;
  line-height: $font-size--sm * 1.5;
}